/** MODAL STYLES START **/
.form-row label {
    color: black;
    font-size: 15px;
}

.form-font {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.form-group label {
    color: black;
}

.collections h3 {
    font-size: 30px;
    font-weight: bold;
    color: #214760;
    text-align: center;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalSelectBtn {
    background-color: #E88121;
    color: #214760;
}

.modalButtons {
    margin: 30px 0px 30px 70px;
}

.modalQuestions {
    margin-top: 30px;
    margin-left: 120px;
}

.formMargin {
    margin: 20px 10px;
}

.status-number {
    color: black;
    text-align: center;
}
/** MODAL STYLES END **/

/** HEADER START **/
.dropdown-toggle:after,
[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

.dropdown-toggle[aria-expanded="true"]:after,
[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/** HEADER END **/

/** PARALLAX SECTIONS START **/
.parallax {
    background-image: url("../img/bg/rental-properties.jpg");
    height: 500px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ffffff;
    border-radius: 26px;
    width: 300px;
    height: 50px;
}

.parallax-2 {
    background-image: url("../img/bg/fix-and-flip.jpg");
    height: 500px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-button {
    top: 30%;
    background-color: #E88121;
    color: #0D3650;
    border-radius: 26px;
    width: 300px;
    height: 50px;
}

.parallax-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    font-size: 60px;
}

/** PARALLAX SECTIONS END **/

/** STEPS SECTION START **/
.steps {
    height: 550px;
    padding: 20px;
}

.states { 
    color:#06314C; 
    font-weight: bold; 
    font-size: 35px;
}
/** STEPS SECTION END **/








/** FOOTER START **/
.footer-parallax-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E88121;
    font-size: 20px;
    font-weight: bold;
}

.footer-disclaimer {
    height: 250px;
    background-color: #0D3650;
    color: white;
    font-size: 10px;
    text-align: center;
}

.footer-parallax-text-email {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.footer-parallax-text-below {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E88121;
    font-size: 20px;
}

.footer-parallax-text-below-2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E88121;
    font-size: 20px;
}

.footer-parallax {
    height: 300px;
    background-color: #0D3650;
    position: relative;
}

.footer-parallax-text-phone {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
}
/** FOOTER END **/


.next {
    display: none;
}

.product-container {
    width: 790px;
}

.product-img {
    width: 500px;
    height: 500px;
}

.product-list-title {
    text-align: left;
    line-height: 35px;
    color: #72C12C;
    font-size: 22px;
}

.product-list {
    text-align: left;
    line-height: 30px;
    color: black;
    font-size: 17px;
}

.product-card {
    background-color: #0D3650;
}

.product-page-products li {
    font-size: 18px;
    color: white;
    line-height: 15px;
    text-align: left;
    font-weight: bold;
}

.product-page-products-img {
    transform: skewY(-3deg);
    height: 205px;
}

.product-page-price {
    font-size: 30px;
    color: #180354;
    font-weight: bold;
}

.back-office-tabs {
    font-weight: bold;
}

.divider {
    text-align: center;
    align-content: center;
    width: 90px;
    height: 5px;
    margin: 10px 0px;
    background-color: #E88121;
}

.loan-list-items li {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.loan-list-items-sunday li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.banner-container {
    background-color: #103952;
}

.steps {
    flex-direction: row;
}

.banner h1 {
    color: white;
    font-size: 73px;
    font-weight: bold;
}

.banner p {
    color: #7F7F7F;
    font-weight: bold;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
}

.btn {
    background-color: #1c75b9;
}

.btn-link {
    color: #1c75b9;
}


.footer-products {
    color: white;
}

.footer nav ul li {
    padding: 0px;
}

.products {
    padding-left: 40px;
}


.privacyTitle {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
}




@media only screen and (min-width: 1920px) {

    .formMargin {
        margin: 30px;
    }

    .modalButtons {
        margin-left: 200px;
    }

    .modalQuestions {
        margin-left: 220px;
    }
}

@media only screen and (max-width: 490px) {
    .products {
        padding-left: 10px;
    }
    
    .testimonials {
        padding-left: 35px;
    }

    .steps {
        height: 1200px;
    }

    .states {
        font-size: 20px;
    }

    .partners-image {
        width: 300px;
    }

    .parallax-text {
        font-size: 50px;
    }

    .footer-parallax-text {
        font-size: 26px;
    }

    .footer-parallax-text-below,
    .footer-parallax-text-below-2 {
        font-size: 10px;
    }

    .footer-parallax-text-phone {
        font-size: 30px;
    }

    .footer-disclaimer {
        font-size: 16px;
        height: 460px;
        padding: 10px;
    }

    .modalButtons {
        margin: 20px 4px;
    }

    .modalQuestions {
        margin-top: 20px;
        margin-left: 60px;
    }

    .formMargin {
        margin: 5px 0px;
    }

    .collections h3 {
        font-size: 20px;
        font-weight: bold;
        color: #C16F26;
        text-align: center;
    }

    .modal-content {
        margin: 45% auto;
        /* 15% from the top and centered */
        padding: 20px;
        width: 100%;
        /* Could be more or less, depending on screen size */
    }

}