.product-container {
    width: 790px;
}

.product-img {
    width: 500px;
    height: 500px;
}

.product-list-title {
    text-align: left;
    line-height: 35px;
    color: #72C12C;
    font-size: 22px;
}

.product-list {
    text-align: left;
    line-height: 30px;
    color: black;
    font-size: 17px;
}

.product-page-products li {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    letter-spacing: 2px;
}

.product-page-price {
    font-size: 30px; 
    color: #180354;
    font-weight: bold;
}

.back-office-tabs {
    font-weight: bold;
}

.divider {
    text-align: center;
    align-content: center;
    width: 90px;
    height: 5px;
    margin: 10px 0px;
    background-color: #6A7E88;
}

.loan-list-items li {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.loan-list-items-sunday li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.title {
    color: #82949C;
} 

.btn {
    background-color: #1c75b9;
}

.btn-link {
    color: #1c75b9;
}

.products-footer {
    background-image: url('../img/bg/footer.jpg');
}

.footer {
    background-image: url('../img/bg/footer.jpg');
}

.footer img {
    max-width: 100%;
}

.footer nav ul li {
    padding: 0px;
}

.products {
    padding-left: 40px;
}

.item3 {
    grid-row: 1 / 4;
    grid-column: 4 / 5; 
}

@media only screen and (max-width: 490px) {
    .testimonials {
        padding-left: 35px;
    }
  }



