.product-container {
    width: 790px;
}

.product-img {
    width: 500px;
    height: 500px;
}

.product-list {
    text-align: left;
    line-height: 40px;
    color: #667C86;
    font-size: 16px;
    font-weight: bold;
}