.product-container {
    width: 790px;
}

.product-img {
    width: 500px;
    height: 500px;
}

.product-list-title {
    text-align: left;
    line-height: 35px;
    color: #72C12C;
    font-size: 22px;
}

.product-list {
    text-align: left;
    line-height: 30px;
    color: black;
    font-size: 17px;
}

.product-loan-list {
    text-align: left;
    line-height: 30px;
    color: black;
}

.product-loan-list {
    font-size: 18px;
}

.back-office-tabs {
    font-weight: bold;
}

.divider {
    width: 90px;
    height: 5px;
    margin: 10px 0px;
    background-color: #6A7E88;
}

